[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-migrate = "*"
marshmallow = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
