[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-cors = "*"
marshmallow = "*"
python-dotenv = "*"
psycopg2-binary = "*"
requests = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.12"
